body {
  background-color: #092635;
  padding: 0%;
  margin: 0%;
}
.profile-text,
.profile-intro {
  color: #eef5ff;
}

.introduction {
  max-width: 100vw;
  overflow-x: hidden;
}
.wave-svg svg {
  display: block;
}
.wave-svg {
  margin-bottom: -2px;
}
