body {
  background-color: #092635;
  padding: 0%;
  margin: 0%;
}
.profile-text,
.profile-intro {
  color: #eef5ff;
}

.introduction {
  max-width: 100vw;
  overflow-x: hidden;
}
.wave-svg svg {
  display: block;
}

.hover-icon {
  transition: color 0.3s ease; /* Smooth transition */
}

.hover-icon:hover {
  color: #fff !important; /* Change this to your desired hover color */
}
/* .wave-svg {
  margin-bottom: -2px;
} */
.social-media-blob:hover {
  /* background-color: aliceblue; */
  color: #eef5ff;
}
.profile-text {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2.5rem; /* Set a fixed height based on the font size */
}
.profile-text h1 {
  font-family: "Roboto", sans-serif; /* or your preferred font */
  font-size: 3rem;
  color: white; /* Change this to your preferred color */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow */
  border-right: 2px solid; /* Cursor effect */
  animation: blink-caret 0.75s step-end infinite; /* Optional cursor blink effect */
  margin: 0;
}

@keyframes blink-caret {
  50% {
    border-color: transparent; /* Blink effect */
  }
}
.social-media-blob:hover {
  transform: scale(1.1); /* Scale icon on hover */
}
@media (max-width: 576px) {
  .profile-text {
    justify-content: center;
  }
}
